@{
    ViewBag.Title = "About";
}
<br />
<h2>@ViewBag.Title us</h2>
<br /><br /><br />
<div class="row">

    <div class="col-md-6">
        <img src="~/Content/images/sample.JPG" alt="Sample Image" width="400" height="400   " />
    </div>
    <div class="col-md-6">
        <h3>Book Shop</h3>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus arcu velit, ultrices sed lacus sed, suscipit finibus eros. Interdum et malesuada fames ac ante ipsum primis in faucibus. Nulla facilisi. Phasellus ultrices lacus sit amet quam fringilla, sed auctor magna ultrices. Sed quis nisi justo. Proin et lacus vehicula, posuere dui id, aliquet libero. Quisque quis vulputate nisl. Integer felis ipsum, consequat sed auctor at, mollis at sapien. Donec mollis velit mauris, id iaculis nunc ultrices quis. Nulla sed ex efficitur, porttitor enim sed, luctus nunc. Nulla tempus varius odio, et convallis est vehicula nec. Nulla convallis tempus risus nec laoreet.
        </p>
        <p>
            Suspendisse euismod dolor sed urna pharetra vulputate. Sed purus ex, hendrerit lacinia venenatis et, feugiat eu justo. Ut sed velit at quam dictum sodales eu ut orci. Donec ut dignissim tellus. Morbi imperdiet feugiat orci et elementum. Sed eu dui eget diam mattis feugiat id ac est. Phasellus eleifend justo ut ullamcorper congue. Sed ut massa non nisi pretium eleifend. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Curabitur varius nibh vel enim accumsan ullamcorper. Nulla imperdiet arcu vel mi faucibus, tincidunt rhoncus urna fringilla. Aliquam ut varius enim, at faucibus dolor. Vestibulum in massa vel massa condimentum feugiat nec et augue.
        </p>
    </div>
</div>
    
