<h2>@ViewBag.Title</h2>
<h3>@ViewBag.Message</h3>

<address>
    Book Shop<br />
    Malinowa 23, Gdansk<br />
    Phone: 000-000-000
    Email: <a href="mailto:skurczynska.alicja@gmail.com">skurczynska.alicja@gmail.com</a><br />
</address>

<address>
    <strong>If you have any questions, feel free to contact us! :) </strong>
</address>