@{
    ViewData["Title"] = "BookShop";
}

<div class="jumbotron text-center">
    <h1>BOOK SHOP</h1>
    <p>Explore books in our shop :) </p>
    @Html.ActionLink("EXPLORE", "Index", "Books")

</div>

<blockquote class="blockquote text-center">
    <p class="mb-0"> “So many books, so little time.” </p>
    <footer class="blockquote-footer">Frank Zappa</footer>
</blockquote>



